.form{
   display: flex;
   flex-direction: column;
   width: 45vw;
   padding: 30px;
}

.form label{
   text-align: left;
   margin-bottom: 15px;
}

.form input{
   margin-bottom: 15px;
}

.form button{
   margin-top: 15px;
}