.card-titled{
   background-color: #FFFFFF;
   border-radius: 16px;
   overflow: hidden;
}
.card-titled__title-wrapper{
   padding: 15px;
   background-color: slateblue;
   height: 20%;
   text-align: left;
}
.card-titled__content-wrapper{
   padding: 15px;
   height: 80%;
}

.card-titled__title{
   color: #FFFFFF;
   padding: 0;
   margin: 0;
}